@import 'reset'
@import 'fonts'
@import 'icons'

.wrapper
  min-width: 290px
  max-width: 768px
  margin: 0 auto
  padding: 20px 15px
  font-family: 'Comfortaa'
  font-weight: 400
  color: #3E0C01
  font-size: 12px