@import 'reset'
@import 'fonts'
@import 'icons'

.wrapper
  min-width: 290px
  max-width: 768px
  margin: 0 auto
  padding: 20px 15px
  font-family: 'Comfortaa'
  font-weight: 400
  color: #3E0C01
  font-size: 12px

.page-title
  font-size: 18px
  line-height: 24px
  color: #fff
  padding-bottom: 15px
  text-align: center
  font-weight: 600

.button-container
  display: flex
  padding-top: 20px
  align-items: center
  justify-content: space-between
  button
    font-size: 14px
    color: #fff
    font-weight: 400
    padding: 0 20px
    background-color: #3E0C01
    height: 40px
    border-radius: 2px
    display: flex
    align-items: center
    &:first-child
      background-color: #6C4030
    i
      width: 20px
      height: 20px
      margin-right: 10px

.list
  &-title
    padding-bottom: 10px
    font-size: 16px
    line-height: 18px
  &-list
  &-item
    display: flex
    align-items: center
    &:nth-child(2n+1) .list-content
      background-color: #EFF0F3
  &-num
    font-size: 14px
    font-weight: 400
    width: 25px
    min-width: 25px
  &-text
    font-size: 12px
    line-height: 16px
    flex-grow: 1
  &-content
    display: flex
    align-items: center
    justify-content: space-between
    padding: 10px
    flex-grow: 1
  &-actions
    display: flex
    align-items: center
    padding-top: 1px
    button:last-child
      padding-left: 15px
    i
      width: 18px
      height: 17px